.e-breadcrumbs {
  display: flex;
  flex-wrap: wrap;
}
.e-breadcrumbs-slug:not(:last-child)::after {
  content: ">";
}
.e-breadcrumbs-slug a,
.e-breadcrumbs-slug strong {
  padding: 5px;
  font-weight: bold;
}
