.e-breadcrumbs {
  display: flex;
  flex-wrap: wrap;
  margin: 10px 0;
}
.e-breadcrumbs > * {
  margin: 0;
}
.e-breadcrumbs-slug:not(:last-child)::after {
  content: ">";
}
.e-breadcrumbs-slug a,
.e-breadcrumbs-slug strong {
  padding: 5px;
  font-weight: bold;
}
